.App {
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-size: 1.4rem;
  margin-left: 2rem;
}

.App-header {
  background-color: #4f836d;
  min-height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.menu-button-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  max-width: 33%;
}

.menu-button {
  margin: 1rem;
  padding: 0.5rem;
  border: none;
  color: darkgreen;
}

.menu-button:hover {
  color: darkolivegreen;
  background-color: #ddf3e7;
}

a {
  text-decoration: none;
  color: darkgreen;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: darkolivegreen;
}

.interaction-checker {
  margin-top: 2rem;
  max-width: 66%;
  padding: 1rem 3rem;
  border-width: 2px 0px;
  border-style: solid;
  border-color: #4f836d;
}

.dataset-button {
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  border: none;
  color: #166177;
}

.instruction-text {
  font-size: smaller;
  color: darkslategray;
}
